
# Ignore all files in all directories and subdirectories
**/*.gs
**/*.js
**/*.json
**/*.html

# BUT do track THESE FILES, even though you're ignoring ABOVE files
!appsscript.json
!automation.js
!calculate.js
!Code.js
!CP-Prototypes.js
!message.js
!misc.js
!shopify.js
!staff.js
!summary.js
!tabletemplate.html
!test.js
!ui.js

# BUT do track THESE FILES, even though you're ignoring ABOVE files
!automation.gs
!calculate.gs
!Code.gs
!CP-Prototypes.gs
!message.gs
!misc.gs
!shopify.gs
!staff.gs
!summary.gs
!tabletemplate.html
!test.gs
!ui.gs

# only ignore the TODO file in the current directory, not subdir/TODO
/TODO

# ignore all files in any directory named build
node_modules/

# ignore doc/notes.txt, but not doc/server/arch.txt
**/*.txt

# ignore all .pdf files in the doc/ directory and any of its subdirectories
**/*.pdf
